thead
  tr
    th(data-ng-class="item.css" data-ng-repeat="item in datagrid.schema" data-od-style="item.getStyle()")
      span(data-ng-bind="item.name")
tbody
  tr(data-ng-repeat="row in datagrid.getPage()")
    td(
      data-ng-class="cell.getCss()" 
      data-ng-click="cell.click()" 
      data-ng-repeat="cell in row.cells" 
      data-od-style="item.getStyle()")
      span(data-ng-hide="cell.ishidden()" data-ng-if="!cell.editable && !cell.html" data-ng-bind="cell.getValue()" data-ng-class="cell.getChildCss()")
      span(data-ng-hide="cell.ishidden()" data-ng-if="!cell.editable && cell.html" data-ng-bind-html="cell.getHtml()" data-ng-class="cell.getChildCss()")
      label(data-ng-class="cell.getChildCss()" data-ng-hide="cell.ishidden()" data-ng-if="cell.editable")
        input(
          data-ng-blur="cell.change()" 
          data-ng-if="cell.editable && cell.type !== 'select'" 
          data-ng-model="cell.model" 
          data-od-esc="cell.undo()"
          type="{{cell.type}}"
          )
        select(
          data-ng-blur="cell.change()"
          data-ng-model="cell.model" 
          data-ng-options="{{cell.options}}"
          data-ng-if="cell.editable && cell.type === 'select'" 
          data-od-esc="cell.undo()"
          )
      //- data-od-enter="cell.change()" 
      //- data-od-enter-kill
